.destination {
    padding: 110px 0;
    margin-top: 100px;
  }
  

  .destination{
    display: block;
    align-items: center;
    max-width: 1400px;
    margin-left: 120px;
    margin-right: 240px;
  }

  .destinations__container{
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .destination__header {
    margin-top: 20px;
  
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    margin-bottom: 50px;
  }
  
  .destination__header a {
    color:#FB8F1D;
    font-weight: 600;
    line-height: 60px;
  }
  
  .destination__header h2 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    color:black;
  }
  
  .destination__inner {
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .destination__image1 {
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    background: url(../image/second-section-image1.svg) no-repeat;
    width:261px;
    height: 332px;

  }
  
  .destination__image2 {
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    background: url(../image/second-section-image2.svg) no-repeat;
    width:261px;
    height: 332px;
  }
  
  .destination__image3 {
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    background: url(../image/second-section-image3.svg) no-repeat;
    width:261px;
    height: 332px;
  }
  
  .destination__image4 {
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    background: url(../image/second-section-image4.svg) no-repeat;
    width:261px;
    height: 332px;
  }
  .destination__image{
    width:120px;
    height:56px;
    background: url(../image/image-descript.svg) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
  }
  .destination__image h3 {
   margin-top: 10px;
   color: #042521;
   line-height: 25px;
   font-weight: 600;
  }
  
  .destination__image p {
    color: #80918E;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
   }

@media screen and (max-width: 1000px) {
    .destination{
      width:100%;
      padding: 20px;
      margin-left: 0px;
      margin: 0, auto;
    }
    .destination__inner {
    padding: 0;
    width:100%;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .destination__image1 {
    margin-left: 0px;
    width: 100%;
    background-position: center;
    align-items: center;

  }
  
  .destination__image2 {
    margin-left: 0px;
    width: 100%;
    align-items: center;
    background-position: center;
  }
  
  .destination__image3 {
    margin-left: 0px;
    width: 100%;
    align-items: center;
    background-position: center;
  }
  
  .destination__image4 {
    margin-left: 0px;
    width: 100%;
    align-items: center;
    background-position: center;
  }
  .destination__image {
    width: 100%;
    background-color: #ffffffd0;
    background-image: none;
    align-items: center;
    text-align: center;
    background-position: center;
  
  }
  .destination__image p {
    color:black;
    padding-bottom: 10px;
  }


}

@media screen and (max-width: 740px){
  .destination__header{
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .destination{
    width: 90%;
    align-items: center;
    margin: 0, auto;
    align-items: center;
  }
 
  .destinations__container{
    margin: 0, auto;
    align-items: center;
    display: block;
  }
  .header{
    padding-left: 0;
    padding-right: 0;
  }

}
/* @media screen and (max-width: 740px){
  .destinations__container{
    margin: 0, auto;
    align-items: center;
    display: block;
  }
} */

