.details {
  display: flex;
  background-color: #F8F8F8;
  margin: 0, auto;
}

.details__container {
  background-color: #F8F8F8;
  max-width: 1415px;
  margin: 0 auto;
}



.details__image {
  width: 50%;
  height: auto;
  margin-top: 110px;
  margin-left: 140px;
}

.details__inner {
  margin: 210px 80px;
}


.details__title {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  color: black;
  line-height: 50px;
  margin-bottom: 20px;
}

.details p {
  font-family: "Mulish";
  font-size: 17px;
  font-weight: 300;
  color: #7D7987;
  line-height: 30px;
}


.details__button {
  width: 164px;
  height: 45px;
  background: #FB8F1D;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for animation */
}

.details__button:hover {
  background-color: #ff9500; /* Lighter shade when hovered */
  transform: scale(1.05); /* Slightly increase the size */
}

@media screen and (max-width:1280px){
  .details__image {
    width: 50%;
    margin: 0, auto;
  }
}

@media screen and (max-width: 1024px) {
  .details {
    flex-direction: column;
    margin: 0, auto;
    width: 100%;
  }
  .details__container{
    margin: 0, auto;
    text-align: center;
  }
  .details__image {
    padding-top: 60px;
    margin: 0, auto;
    width: 60%;
    height: auto;
  }


}


@media screen and (max-width: 728px){
  .details{
    align-items: center;
  }
  .details__image {
    padding-top: 40px;
    margin: 0;
    width: 70%;
  }
  .details__container{
    margin: 0, auto;
  }
  .details__inner{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


